doctype html
html
  head
    title Maxi's dance academy
    block scripts
    block style
  body
    nav#navbar.top 
        ul
            div#logo 
                img(src="../static/img/logo2.png", alt="error")
                a MDA
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class Info] 
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        |   Copyright &copy; www.myOnlineMeal.com. All rights reserved!     